src/main/mule/a2a-bedrock-adapter.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:a2a="http://www.mulesoft.org/schema/mule/a2a"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/a2a http://www.mulesoft.org/schema/mule/a2a/current/mule-a2a.xsd
        http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

  <configuration-properties file="config.properties"/>

  <http:listener-config name="HTTP_Listener_config">
    <http:listener-connection host="0.0.0.0" port="${http.listener.port}"/>
  </http:listener-config>

  <http:listener-config name="A2A_HTTP_Listener_config">
    <http:listener-connection host="0.0.0.0" port="${a2a.listener.port}"/>
  </http:listener-config>

  <!-- Bedrock Agent Runtime is called from Java (BedrockAgentInvoker) so the event-stream body stays binary. -->

  <a2a:server-config name="A2A_Server">
    <a2a:connection listenerConfig="A2A_HTTP_Listener_config" agentPath="${agent.path}"/>
    <a2a:card name="${agent.name}" url="${agent.host}${agent.path}" version="${agent.version}">
      <a2a:description><![CDATA[${agent.description}]]></a2a:description>
      <a2a:skills>
        <a2a:agent-skill id="${agent.skill.1.id}" name="${agent.skill.1.name}">
          <a2a:description><![CDATA[${agent.skill.1.description}]]></a2a:description>
          <a2a:tags>
            <a2a:tag value="bedrock"/>
            <a2a:tag value="aws"/>
          </a2a:tags>
        </a2a:agent-skill>
      </a2a:skills>
    </a2a:card>
  </a2a:server-config>

  <flow name="a2a-bedrock-listener">
    <a2a:task-listener config-ref="A2A_Server" doc:name="A2A Listener"/>
    <flow-ref name="bedrock-agent-processor"/>
  </flow>

  <flow name="bedrock-agent-processor">
    <logger level="INFO" message="A2A task received: id=#[payload.id] sessionId=#[payload.sessionId]"/>

    <ee:transform doc:name="Session id">
      <ee:variables>
        <ee:set-variable variableName="a2aSessionId"><![CDATA[%dw 2.0
output application/java
---
(payload.sessionId default correlationId) as String
]]></ee:set-variable>
      </ee:variables>
    </ee:transform>

    <ee:transform doc:name="Bedrock URL path">
      <ee:variables>
        <ee:set-variable variableName="bedrockPath"><![CDATA[%dw 2.0
output application/java
---
'/agents/' ++ p('aws.agent.id') ++ '/agentAliases/' ++ p('aws.alias.id') ++ '/sessions/' ++ (vars.a2aSessionId as String) ++ '/text'
]]></ee:set-variable>
      </ee:variables>
    </ee:transform>

    <ee:transform doc:name="User prompt text for Bedrock">
      <ee:variables>
        <ee:set-variable variableName="userPromptText"><![CDATA[%dw 2.0
output application/java
---
((payload.message.parts filter ((part) -> part.'kind' == "text"))[0].text default "") as String
]]></ee:set-variable>
      </ee:variables>
    </ee:transform>

    <java:invoke-static
        class="com.mulesoft.a2a.bedrock.BedrockAgentInvoker"
        method="invokeAgent(String,String,String,String,String,String,String)"
        target="bedrockOutcome"
        doc:name="Invoke Bedrock Agent (SigV4 + event stream decode)">
      <java:args><![CDATA[#[%dw 2.0
output application/java
---
{
  arg0: p("aws.region"),
  arg1: p("aws.accessKey"),
  arg2: p("aws.secretKey"),
  arg3: p("aws.agent.id"),
  arg4: p("aws.alias.id"),
  arg5: vars.a2aSessionId,
  arg6: vars.userPromptText
}]]]></java:args>
    </java:invoke-static>

    <ee:transform doc:name="A2A SendMessage response (root kind=message)">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var o = vars.bedrockOutcome
var textOut = o.aggregatedText default ""
var isErr = (o.errorCode != null)
var partText =
  if (isErr)
    ("[error -32603] " ++ (o.errorMessage default "Bedrock invocation failed"))
  else if (isEmpty(textOut))
    "Error: No data returned from Bedrock Agent stream."
  else
    textOut
---
{
  "kind": "message",
  "status": {
    "state": if (isErr) "failed" else "completed"
  },
  "sessionId": vars.a2aSessionId,
  "message": {
    "kind": "message",
    "messageId": correlationId as String,
    "role": "model",
    "parts": [
      {
        "kind": "text",
        "text": partText
      }
    ]
  }
}
]]></ee:set-payload>
      </ee:message>
    </ee:transform>

    <logger level="INFO" message="Bedrock adapter completed for session #[vars.a2aSessionId]"/>
  </flow>
</mule>
